.login-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.anchor-button {
    border: none;
    background: none;
    text-decoration: underline;
    color: blue;
}

.anchor-button:hover {
    background-color: transparent;
    color: blue;
}

.logged-in-section {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logout-button {
    width: 90px;
}
