.rules-main-section {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 75px 0 0 -50px;
    flex-wrap: wrap;
    overflow: wrap;
    flex: 1 1 100%;
}

.individual-rule-card-section {
    display: inline-block;
    padding: 50px 0 0 50px;
    overflow: wrap;
}

.rules-card {
    height: 20rem;
    width: 18rem;
}


.money {
    color: green;
    font-weight: bold;
}