.main-section {
    position: relative;
    margin: 50px 0 0 3%;
    padding-bottom: 100px;
    width: 95%;
}

.pagination-enter-picks {
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-section {
    flex: 1 1 65%;
}

.team-group {
    /* flex-basis: calc( 100% / 24 ); */
    flex-wrap: wrap;
}

.pick-select-button {
    height: 50px;
    width: 250px;
    white-space: nowrap;
}

.login-button-section {
    position: relative;
    top: 200px;
    left: 45%;
}

.at-gap-section {
    padding: 10px 10px 14px 10px;
    border-bottom: 1px solid pink;
    border-top: 1px solid pink;
}

button.transparent-btn {
    pointer-events: none;
    color: blue;
    background-color: transparent;
    border: none;
    font-size: 25px;
    border-bottom: 2px solid blue;
}

.game-day-header {
    font-size: 20px;
    width: 100%;
    position: relative;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.locked-pick-section {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.locked-tooltip-icon {
    font-size: 25px;
    color: black;
}   

.locked-pick-offset {
    position: relative;
    top: -7.5px;
}