.main-section {
    position: absolute;
    margin-top: 100px;
    left: 2%;
    padding-bottom: 100px;
    display: flex;
}

.pagination {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
}

.team-section {
    flex: 1 1 85%;
}

.past-picks-section {
    flex: 1 1 15%;
    margin-left: 2%;
    margin-right: 2%;
}

.past-picks-header-1 {
    font-size: 27px;
}

.past-picks-card {
    color: blue;
    width: 18rem;
    float: right;
}

.team-group {
    /* flex-basis: calc( 100% / 24 ); */
    flex-wrap: wrap;
}

.pick-select-button {
    height: 50px;
    width: 250px;
    white-space: nowrap;
}

