.main-section {
    position: absolute;
    margin-top: 100px;
    left: 2%;
    padding-bottom: 100px;
    display: flex;
}

.pagination {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
}

.team-section {
    flex: 1 1 65%;
}

.past-picks-section {
    flex: 1 1 10%;
    margin-right: 100px;
}

.past-picks-header-1 {
    font-size: 27px;
}

.past-picks-card {
    color: blue;
    width: 18rem;
    float: right;
}

.team-group {
    /* flex-basis: calc( 100% / 24 ); */
    flex-wrap: wrap;
}

.pick-select-button {
    height: 50px;
    width: 250px;
    white-space: nowrap;
}

.login-button-section {
    position: relative;
    top: 200px;
    left: 45%;
}

.at-gap-section {
    /* position: relative; */
    /* padding-left: 5px;
    padding-right: 5px; */
    padding: 10px 10px 10px 10px;
}

button.transparent-btn {
    pointer-events: none;
    color: blue;
    background-color: transparent;
    border: none;
    font-size: 25px;
    border-bottom: 2px solid blue;
}

.breaker-horizontal {
    padding-left: 25px;
    padding-right: 25px;
}