.main-section {
    position: absolute;
    margin-top: 100px;
    padding-bottom: 100px;
    left: 5%;
    display: flex;
    width: 100%;
}


.tie-space {
    padding-left: 100px;
}

.past-picks-header-1 {
    font-size: 27px;
}

.past-picks-card {
    color: black;
    width: 18rem;
    float: right;
}

.start-streak-section {
    flex: 1 1 25%;
    margin-left: 2%;
    margin-right: 2%;
}

.most-correct-section {
    flex: 1 1 25%;
}

.payout-section {
    margin-left: 2%;
    flex: 1 1 25%;
}

.money-distribution-section {
    flex: 1 1 25%;
    margin-left: 2%;
    margin-right: 10%;
}

.payouts-item {
    color: green;
}

.cursor {
    cursor: pointer;
}

.profile-button {
    color: blue;
    text-decoration: underline;
}
