.main-section-standings {
    position: relative;
    margin: 75px 0 0 -50px;
    padding-bottom: 100px;
    overflow: wrap;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tie-space {
    padding-left: 100px;
}

.standings-header-1 {
    font-size: 27px;
}

.standings-card {
    color: black;
    width: 18rem;
}

.standings-card-section {
    display: inline-block;
    overflow: wrap;
    padding: 50px 0 0 50px;
}

.standings-card {
    min-height: 20rem;
    width: 18rem;
}

.payouts-item {
    color: green;
}

.cursor {
    cursor: pointer;
}

.profile-button {
    color: blue;
    text-decoration: underline;
}

.no-bullet-list {
    list-style-type: none;
}

.user-info-spinner {
    position: relative;
    display: flex !important;
    justify-content: center;
    width: 100%;
}