.main-section-standings {
    position: relative;
    margin-top: 75px;
    padding-bottom: 100px;
    overflow: wrap;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.tie-space {
    padding-left: 100px;
}

.standings-header-1 {
    font-size: 27px;
}

.standings-card {
    color: black;
    width: 18rem;
}

.standings-card-section {
    display: inline-block;
    overflow: wrap;
    padding: 50px 0 0 35px;
}

.standings-card {
    min-height: 20rem;
    width: 18rem;
}

.payouts-item {
    color: green;
}

.cursor {
    cursor: pointer;
}

.profile-button {
    color: blue;
    text-decoration: underline;
}

.standings-modal-section {
    position: absolute;
    margin-top: 200px;
    z-index: 1;
}

.no-bullet-list {
    list-style-type: none;
}