.team-section {
    position: absolute;
    margin-top: 75px;
    left: 15%;
    right: 15%;
    padding-bottom: 100px;
}

.team-group {
    /* flex-basis: calc( 100% / 24 ); */
    flex-wrap: wrap;
}

.pick-select-button {
    height: 50px;
    width: 250px;
    white-space: nowrap;
}